/* body {
  height: 200vh;
}

div {
  width: 100px;
  height: 100px;
  background-color: bisque;
  border: 5px solid black;
} */

/* .box {
  background-color: aliceblue;
}

#box1 {
  background-color: aquamarine;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

[type^="password"] {
  background-color: black;
}

body div {
  width: 150px;
}

body > div {
  height: 150px;
}

div + div {
  width: 300px;
} */

/* .content {
  padding: 20px;
  margin: 50px;
  box-sizing: content-box;
}

.border {
  padding: 20px;
  margin: 50px;
  box-sizing: border-box;
}

.static {
  position: static;
}

.relative {
  position: relative;
  top: 10px;
  left: 50px;
}

.absolute {
  position: absolute;
  top: 0;
}

.fixed {
  position: fixed;
  top: 50px;
  right: 0;
}

.sticky {
  position: sticky;
  top: 50px;
} */
/* 
.box {
  width: 100px;
  height: 100px;
  background-color: bisque;
  border: 1px solid black;
  flex-grow: 1; 
}

.box1 {
  flex-grow: 1;
}

.box2 {
  flex-grow: 2;
}

.container {
  height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
} */

[class^="col"] {
  border: 1px solid black;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-1 {
  width: calc(1 / 12 * 100%);
}
.col-2 {
  width: calc(2 / 12 * 100%);
}
.col-3 {
  width: calc(3 / 12 * 100%);
}
.col-4 {
  width: calc(4 / 12 * 100%);
}
.col-5 {
  width: calc(5 / 12 * 100%);
}
.col-6 {
  width: calc(6 / 12 * 100%);
}
.col-7 {
  width: calc(7 / 12 * 100%);
}
.col-8 {
  width: calc(8 / 12 * 100%);
}
.col-9 {
  width: calc(9 / 12 * 100%);
}
.col-10 {
  width: calc(10 / 12 * 100%);
}
.col-11 {
  width: calc(11 / 12 * 100%);
}
.col-12 {
  width: calc(12 / 12 * 100%);
}

@media (min-width: 720px) {
  .col-md-1 {
    width: calc(1 / 12 * 100%);
  }
  .col-md-2 {
    width: calc(2 / 12 * 100%);
  }
  .col-md-3 {
    width: calc(3 / 12 * 100%);
  }
  .col-md-4 {
    width: calc(4 / 12 * 100%);
  }
  .col-md-5 {
    width: calc(5 / 12 * 100%);
  }
  .col-md-6 {
    width: calc(6 / 12 * 100%);
  }
  .col-md-7 {
    width: calc(7 / 12 * 100%);
  }
  .col-md-8 {
    width: calc(8 / 12 * 100%);
  }
  .col-md-9 {
    width: calc(9 / 12 * 100%);
  }
  .col-md-10 {
    width: calc(10 / 12 * 100%);
  }
  .col-md-11 {
    width: calc(11 / 12 * 100%);
  }
  .col-md-12 {
    width: calc(12 / 12 * 100%);
  }
}
